@import "http://fonts.googleapis.com/css?family=Raleway:400,300,100,700|Playfair+Display";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: black;
}

h1 {
    text-align: center;
}

h3 {
    color: black;
    font-size: 120%;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
}

#gamearea {
    padding: 30px;
    margin: 0 auto;
    height: 750px;
    max-width: 670px;
    position: relative;
    margin-top: 25px;
}

#header {
    width: 100%;
    background-color: #ff6f00;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    position: relative;
}

#header a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#header a:hover {
    text-decoration: underline;
}

.headerleft {
    padding: 10px;
    font-size: 120%;
    width: 33%;
    float: left;
    height: 100%;
}

.headerright {
    padding: 10px;
    text-align: right;
    font-size: 120%;
    height: 100%;
    width: 33%;
    float: right;
}

.tile {
    float: left;
    margin: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.tile:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.flag {
    width: 180px;
    height: 120px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.backside {
    background-color: #00bcd4;
}

.fade {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    opacity: 0.5;
    cursor: default;
}

.fade:hover {
    -webkit-transform: none;
    transform: none;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {}

#overlayAll {
    display: none;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlayBox {
    z-index: 10;
    width: 60%;
    height: 60%;
    background-color: #eceef0;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
    text-align: center;
}

#overlayBox p {
    color: black;
    font-size: 200%;
    padding-top: 3%;
    padding-bottom: 10%;
}

#overlayBox figure {}

.btn {
    margin: 0 auto;
    line-height: 32px;
    width: 50%;
    border-radius: 2px;
    font-size: 0.9em;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn.green {
    background-color: #689f38;
}

.btn:hover {
    background-color: #33691e;
    text-decoration: none;
}
